body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(./images/concrete_surface.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: sans-serif;
  overflow:hidden;
}

.App {
   margin: 0 auto;
   width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  margin: 5px 0px;
}

/* .............. NAVIGATION .............. */

.topper {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  background-color: black;
  font-size: 1.8em;
  font-family: 'Flamenco', serif;
  font-weight: bold;
}

.topper img {
  margin: 10px;
}

h4 {
  color: lime;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  flex-flow: row;
  margin-left: -15%;
}

.navbar a {
  text-decoration: none;
  color: whitesmoke;
  padding: 25px;
  margin-right: 10px;
}

.navbar .active {
  background-color: gold;
  color: black;
}

/* .............. PAGES .............. */

.page {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(245, 245, 245,0.5);
}

/* LISTINGS */

.listings {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}


/* .............. COMPONENTS .............. */

/* SPOT CARD */

.spot-card {
  max-width: 500px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  margin-bottom: 30px;
}

.spot-card img {
  width: 100%;
  max-width: 500px;
}

.price {
  float: right;
}

h5 {
  font-style: italic;
  font-weight: normal;
}