@font-face {
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: normal;
  src: url('../styles/fonts/GOTHIC.woff') format('woff');
}

@font-face {
  font-family: 'Century Gothic Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../styles/fonts/GOTHICI.woff') format('woff');
}
  

@font-face {
  font-family: 'Century Gothic Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../styles/fonts/GOTHICB.woff') format('woff');
}


@font-face {
  font-family: 'Century Gothic Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../styles/fonts/GOTHICBI.woff') format('woff');
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(./images/concrete_surface.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: sans-serif;
  overflow:hidden;
}

.App {
   margin: 0 auto;
   width: 100%;
   height: 100%;
}

h1,h2,h3,h4,h5,h6 {
  margin: 5px 0px;
}


/* .............. NAVIGATION .............. */


.topper {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  background-color: black;
  font-size: 1.8em;
  font-family: 'Flamenco', serif;
  font-weight: bold;
}

.topper img {
  margin: 14px 10px 8px 20px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  flex-flow: row;
  margin-left: -15%;
}

.navbar a {
  text-decoration: none;
  color: whitesmoke;
  padding: 20px 25px;
  margin-right: 10px;
}

.navbar .active {
  background-color: #ffde35;
  color: black;
}


/* .............. PAGES .............. */


.page {
  width: 70%;
  height:88vh;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(245, 245, 245,0.6);
  overflow-y: auto;
}

.page-short {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(245, 245, 245,0.6);
  overflow-y: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.fit {
  width: 100%;
}


/* SIGN IN */


.greet {
  margin: 0 auto;
  text-align: center;
}

.pretopper {
  background-color: black;
  color: whitesmoke;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.pretopper h1 {
  margin-top: 0;
  font-family: 'Flamenco', serif;
  font-size: 3em;
  padding: 20px;
}

.choice {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.left img, .right img {
  width: 75%;
}

.left, .right {
  margin: 0px;
  width: 60%;
  height: 60vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: green;
  border-radius: 25px;
  box-shadow: 5px 5px 5px darkslategrey;
  color: whitesmoke;
  font-family: sans-serif;
  cursor: pointer;
}

.left:active, .right:active {
  box-shadow: inset 5px 5px 5px darkgreen;
}

.left {
  margin-left: 30%;
  margin-right: 10%;
}

.right {
  margin-left: 10%;
  margin-right: 30%;
}

.choice h2 {
  margin-bottom: 30px;
  width: 70%;
  font-size: 1.5em;
}


/* LISTINGS */


.listings {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}


/* LISTING DETAILS */


.back-to-listings {
  align-self: flex-start;
  width: 140px;
  cursor: pointer;
}

.page-short h2 {
  text-align: center;
  margin-bottom: 20px;
}

.details-left{
  width:40%;
  height: 50vh;
}

.spot-zoom {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}

.spot-zoom img {
  width: 90%;
  max-width: 500px;
  border: 3px solid white;
  padding: 2px;
}

.spot-about {
  margin: 0 auto;
  width: 89%;
  max-width: 494px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 8px;
}

.details-right {
  width: 60%;
  height: 50vh;
}

.description {
  margin-top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  height: 350px;
  font-size: 0.9em;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.spot-enhance {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 5px;
  margin-bottom: 50px;
}

.spot-enhance div {
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.owner-buttons {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin:10px;
}

.listing-button {
  padding: 10px 26px;
  border-radius: 30px;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: #333;
  cursor: pointer;
}

.listing-del-button {
  background-color: maroon;
  padding: 10px 26px;
  border-radius: 30px;
  font-family: 'Century Gothic Bold Italic', sans-serif;
  font-size: 1em;
  letter-spacing:0.02em;
  color: #ddd;
  cursor: pointer;
}

.listing-book-button {
  background-color: #ffde35;
  padding: 10px 26px;
  border-radius: 30px;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: black;
  cursor: pointer;
}


/* NEW LISTING */

.new-listing-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.new-listing-form label {
  padding: 10px;
  margin: 0;
}

.new-listing-form h5 {
  margin: 0;
}

.new-listing-form input, .new-booking-form input {
  margin: 8px;
  padding: 6px;
}

.short {
  width: 60%;
}

.long {
  width: 90%;
}

.longlabel {
  width: 30%;
}

.extralonglabel {
  width: 100%
}

.shortlabel {
  width: 10%;
}


.new-listing-form .fit, .new-booking-form .fit {
  text-align: center;
}

.new-listing-form button {
  margin: 30px;
  padding: 10px 20px;
  align-self: center;
  border-radius: 3px;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: #333;
  cursor: pointer;
}


/* NEW BOOKING */

.new-booking-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-end;
}

.new-booking-form button {
  margin: 30px;
  padding: 10px 20px;
  align-self: center;
  border-radius: 3px;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: #333;
  cursor: pointer;
}


/* .............. COMPONENTS .............. */


/* SPOT CARD */


.spot-card {
  max-width: 200px;
  height: 200px;
  padding: 10px;
  background-color: rgba(255, 255, 255);
  margin: 10px;
}

.spot-card img {
  width: 100%;
  max-width: 200px;
  margin-bottom: 10px;
  cursor: pointer;
}

.price {
  float: right;
}

h6 {
  font-style: italic;
  font-weight: normal;
}


/* BOOKING CARD */

.booking-card, .booking-card p{
  width: 200px;
  padding: 5px;
  background-color: rgba(255, 255, 255);
  margin: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}

.booking-card p {
  font-size: 0.8em;
}

.booking-buttons {
  width: 100%;
  text-align: center;
}

.enhance {
  margin: 8px 10px 8px 0px;
  font-size: 0.7em;
}

.cancel {
  margin: 8px 0px 8px 10px;
  font-size: 0.7em;
  background-color: maroon;
  color: lightgray;
  font-weight: bold;
  border-radius: 3px;
}