@font-face {
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: normal;
  src: url('../styles/fonts/GOTHIC.woff') format('woff');
}

@font-face {
  font-family: 'Century Gothic Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../styles/fonts/GOTHICI.woff') format('woff');
}
  

@font-face {
  font-family: 'Century Gothic Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../styles/fonts/GOTHICB.woff') format('woff');
}


@font-face {
  font-family: 'Century Gothic Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../styles/fonts/GOTHICBI.woff') format('woff');
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(./images/concrete_surface.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Mukta', sans-serif;
  overflow:hidden;
}

.App {
   margin: 0 auto;
   width: 100%;
   height: 100%;
}

h1,h2,h3,h4,h5,h6 {
  margin: 5px 0px;
}


/* .............. NAVIGATION .............. */


.topper {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  background-color: black;
  font-size: 1.8em;
  font-family: 'Flamenco', serif;
  font-weight: bold;
}

.topper img {
  margin: 14px 10px 8px 20px;
  width: 70px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  flex-flow: row;
  margin-left: -15%;
}

.navbar a {
  text-decoration: none;
  color: whitesmoke;
  padding: 20px 25px;
  margin-right: 10px;
}

.navbar .active {
  background-color: #ffde35;
  color: black;
}


/* .............. PAGES .............. */


.page {
  width: 70%;
  height:88vh;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(245, 245, 245);
  overflow-y: auto;
}

.page-short {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(245, 245, 245);
  overflow-y: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.fit {
  width: 100%;
}


/* SIGN IN */


.greet {
  margin: 0 auto;
  text-align: center;
  height: 87vh;
}

.pretopper {
  background-color: black;
  color: whitesmoke;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.pretopper h1 {
  margin: 0;
  font-family: 'Flamenco', serif;
  font-size: 3em;
  padding: 15px 5px 5px 5px;
}

.pretopper h2 {
  margin: 0;
}

.choice {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}

.left img, .right img {
  width: 75%;
  max-width: 400px;
}

.left, .right {
  margin: 0px;
  width: 98%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  font-family: sans-serif;
  cursor: pointer;
}

.left {
  border-right: 1.5vw solid whitesmoke;
}

.right {
  border-left: 1.5vw solid whitesmoke;

}

.left:active, .left:hover, .right:hover, .right:active {
  background-color: green;
}

.choice h2 {
  margin-bottom: 30px;
  width: 70%;
  font-size: 1.5em;
}


/* HOME */

.home {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.home p {
  line-height: 120%;
  width: 90%;
  text-align: justify;
}

.additionals {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.additionals img {
  margin: 20px 15px;
  max-width: 190px;
  max-height: 100px;
}

.home hr {
  width: 60%;
  margin: 10px 0px;
}


/* LISTINGS */


.listings {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
}


/* LISTING DETAILS */


.back-to-listings {
  align-self: flex-start;
  width: 140px;
  cursor: pointer;
}

.page-short h2 {
  text-align: center;
  margin-bottom: 20px;
}

.details-price {
  float: right;
  font-style: normal;
  font-weight: bold;
}

.details-left{
  width:40%;
  height: 50vh;
}

.spot-zoom {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}

.spot-about {
  margin: 0 auto;
  width: 90%;
  padding: 8px 8px 0px 8px;
  background-color: white;
}

.spot-about img {
  width: 100%;
  max-width: 500px;
}

.details-right {
  width: 60%;
  height: 50vh;
}

.description {
  margin-top: 0;
  background-color: rgba(255, 255, 255);
  text-align: justify;
  line-height: 130%;
  padding: 10px;
  height: 350px;
  font-size: 0.9em;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.spot-enhance {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 5px;
  margin-bottom: 50px;
}

.spot-enhance div {
  padding: 6px;
  max-height: 75px;
  background-color: rgba(255, 255, 255);
  text-align: center;
  font-size: 0.9em;
  line-height: 100%;
}

.spot-enhance h6 {
  font-size: 0.9em;
  line-height: 110%;
}

.owner-buttons {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin:20px;
}

.listing-button {
  padding: 10px 26px;
  border-radius: 30px;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: #333;
  cursor: pointer;
}

.listing-del-button {
  background-color: maroon;
  padding: 10px 26px;
  border-radius: 30px;
  font-family: 'Century Gothic Bold Italic', sans-serif;
  font-size: 1em;
  letter-spacing:0.02em;
  color: #ddd;
  cursor: pointer;
}

.listing-book-button {
  background-color: #ffde35;
  padding: 10px 26px;
  border-radius: 30px;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: black;
  cursor: pointer;
}


/* NEW LISTING */

.new-listing-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.new-listing-form label {
  padding: 10px;
  margin: 0;
}

.new-listing-form h5 {
  margin: 0;
  line-height: 110%;
}

.new-listing-form input, .new-booking-form input {
  margin: 8px;
  padding: 6px;
}

.short {
  width: 60%;
}

.long {
  width: 95%;
}

.longlabel {
  width: 30%;
}

.extralonglabel {
  width: 100%
}

.shortlabel {
  width: 10%;
}

.new-listing-form .fit, .new-booking-form .fit {
  text-align: center;
}

.new-listing-form button {
  margin: 30px;
  padding: 10px 20px;
  align-self: center;
  border-radius: 3px;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: #333;
  cursor: pointer;
}


/* NEW BOOKING */

.new-booking-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-end;
}

.new-booking-form button {
  margin: 30px;
  padding: 10px 20px;
  align-self: center;
  border-radius: 3px;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: #333;
  cursor: pointer;
}

textarea {
  font-family: sans-serif;
  margin: 8px;
  padding: 8px;
  max-width: 100%;
}


/* .............. COMPONENTS .............. */


/* SPOT CARD */


.spot-card {
  min-width: 200px;
  max-width: 200px;
  height: 200px;
  padding: 10px;
  background-color: rgba(255, 255, 255);
  margin: 10px;
}

.spot-card img {
  max-width: 100%;
  height: 100%;
  max-height: 75%;
  margin-bottom: 10px;
  cursor: pointer;
}

.price {
  float: right;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 110%;
}

.spot-card h4 {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
  line-height: 100%;
  font-family: 'Century Gothic Bold';
}

.spot-card h6 {
  font-style: italic;
  font-weight: normal;
}


/* BOOKING CARD */

.booking-card, .booking-card p{
  width: 200px;
  padding: 5px;
  background-color: rgba(255, 255, 255);
  margin: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}

.booking-card p {
  width: auto;
  font-size: 0.8em;
}

.booking-buttons {
  width: 100%;
  text-align: center;
}

.enhance {
  margin: 8px 10px 8px 0px;
  font-size: 0.7em;
}

.cancel {
  margin: 8px 0px 8px 10px;
  font-size: 0.7em;
  background-color: maroon;
  color: lightgray;
  font-weight: bold;
  border-radius: 3px;
}


/* MOBILE VIEWING OPTIMIZATION */

@media screen and (max-width: 1020px) {
  p,h1,h2,h3,h4,h5,h6 {
    font-size: 1em;
  }
  .topper img {
    width: 30px;
    margin: 7px 5px 4px 10px;
  }
  .topper {
    font-size: 1.1em;
  }
  .navbar a{
    padding: 8px 10px;
  }
  .page {
   height: 91vh;
  }
  .choice h2 {
  font-size: 1em;
  }
  .additionals img {
    margin: 15px;
  }
  .listings {
    justify-content: center;
    width: 100%;
  }
  .page-short{
    width: 93%;
    height: 92vh;
  }
  .page-short h2{
    margin-bottom: 10px;
  }
  .details-left{
    width: 37%;
    margin-right: 1.5%;
    height: 90%;
  }
  .details-right{
    width: 55%;
    height: 90%;
  }
  .description {
    width: 97%;
    margin-left: 1.5%;
    height: 55%;
  }
  .spot-enhance {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,1fr);
    grid-gap: 3px;
    margin-bottom: 20px;
  }
  .spot-enhance div {
    font-size: 0.8em;
  }
  .spot-enhance h6 {
    font-size: 1em;
  }
  .listing-button, .listing-del-button, .listing-book-button {
    padding: 6px 13px;
    margin: 10px;
    font-size:0.8em;
  }
  .listing-book-button {
    position: absolute;
    top: 70%;
    left: -30px;
  }
  .owner-buttons {
    position: absolute;
    top: 70%;
    left: -30px;
    width: 40%;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px;
  }
  .new-listing-form {
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    width: 85%;
  }
  .short, .long, .shortlabel, .longlabel, .extralonglabel, .new-listing-form input, .new-listing-form label {
    width: 100%;
  }
  .spot-card {
    width: 80%;
    max-width: 90%;
    height: 30vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .spot-card img {
    height: auto;
    max-height: 60%;
  }
  .spot-card h4 {
    width: 95%;
  }
 .spot-card h6 {
   align-self:stretch;
 }

}